<div class="lock-size" layout="row" layout-align="center center">
	<md-fab-speed-dial md-direction="down" class="md-scale md-fab-top-right">
		<md-fab-trigger>
			<md-button aria-label="menu" class="md-fab md-warn">
				<md-icon>edit</md-icon>
			</md-button>
		</md-fab-trigger>
		<md-fab-actions>
			<md-button aria-label="Category" class="md-fab md-raised md-mini" ng-click="showBottomSheet('bs-category.html')">
				<md-tooltip md-visible="tooltipVisible" md-autohide="false">
              		Category
            	</md-tooltip>
				<md-icon aria-label="Category" class="color-01">flag</md-icon>
			</md-button>
			<md-button aria-label="Distance" class="md-fab md-raised md-mini" ng-click="showBottomSheet('bs-distance.html')">
				<md-tooltip md-visible="tooltipVisible" md-autohide="false">
              		Distance
            	</md-tooltip>
				<md-icon aria-label="Distance" class="color-01">track_changes</md-icon>
			</md-button>
		</md-fab-actions>
	</md-fab-speed-dial>
</div>

<div class="container">
	<md-card class="floating-card" id="card-welcome">
		<md-card-content>
			<h2 class="md-title">Hi! Welcome to the Foursquare Explorer.</h2>
			<p>
				This webapp was build to help you to find the best place near to you.
				<br>
				Please, start selecting your location, category and distance to a better experience.
				Enjoy it! ;)
			</p>
		</md-card-content>
		<md-card-actions layout="row" layout-align="end center">
			<md-button ng-click="dismiss('#card-welcome')">Let's get it started!</md-button>
		</md-card-actions>
	</md-card>
</div>

<div class="map-hero" id="map"></div>